{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
<h1>Mental Health Resources</h1>
<p>let's talk about it</p>
</div>
<section class="resources">
   <div class="container">
  <div class="row">
    <div class="col order-last">
      <h1><a href="https://ok2talk.org/">Help for the young</a></h1>
      <p>OK2Talk is a community for teens and young adults struggling with mental health problems. learn more and start talking about mental health</p>
    </div>
    <div class="col order-last">
      <h1><a href="https://www.mentalhealth.gov/talk/people-mental-health-problems">Mental health expats</a></h1>
      <h3>For People With Mental Health Problems</h3>
      <p>If you have, or believe you may have, mental health problem, it can be helpful to talk about these issues with others.<br> It can be scary to reach out for help, but it is often the first step to helping you heal, grow, and recover.<br>

Having a good support system and engaging with trustworthy people are key elements to successfully talking about your own mental health.</p>
    <div class="col order-last">
      <h1><a href="https://ok2talk.org/">Help for the young</a></h1>
      <p>OK2Talk is a community for teens and young adults struggling with mental health problems. learn more and start talking about mental health</p>
    </div>
    
  </div>
</div>
</section>
{% endblock %}