@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* global styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

.header{
    font-family: 'Abril Fatface', cursive;
    line-height: 4rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    
}
html{
    scroll-behavior: smooth;
    
}

body{
    background-color: #fff;
}


/* buttons */
.btn-outline-dark {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus{
    background: #000;
    color:#fff!important;
}

button,
.btn{
    cursor: pointer;
}

.btn-black{
    background:#000;
    color:#fff;
    cursor: pointer;
}

/* toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* allauth form formating*/
.allauth-form-inner-content p{
    margin-top:1.5rem;
    color:#6c757d;
}

.allauth-form-inner-content input{
    border-color:rgb(17, 15, 15);
    border-radius:0;
   

}

.allauth-form-inner-content label:not([for='id_remember']){
    display:none;
}

.allauth-form-inner-content input::placeholder{
    color:#aab7c4
}

allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}
/* footer main */
.footer-icons{
    color: var(--bs-light);
    font-size: 30px;
    color:#fff;
}

footer a {
  font-size: 1.5em;
  padding: 0 12px;
}



