{% extends "base.html" %}
{% load static %}
{% block extra_title %}
Home
{% endblock %}

{% block content %}
 <!-- Showcase -->
    <section
      class="bg-light text-dark text-bold p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="row g-0">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                  <h1>My Journal <span class="text-info"></h1>
                  <p class="lead my-4">
                      Trapped and in need of expressing your feelings, but you don't have a platform. Take some me time, turn off from the rest of the world and express yourself in My Journal. 
                  </p>
                </div>
              </div>
        </div>
      </div>
    </section>


{% endblock %}