{% load static %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compartible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="Description" content="Mental health site created for the soda trust hackathon by code institute students.">
    <meta name="keywords" content="mental health awareness, mental health tips, daily journal,mental health resources, hackathon, soda">
    <meta name="authors" content="Sandra, Rebecca ,Rebecca, Ashley">  
    {% endblock %}
    


    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link>
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/hover.css/2.3.1/css/hover-min.css">
    <script src="https://kit.fontawesome.com/b22084529e.js" crossorigin="anonymous"></script>

    <!-- favicon-->
    <link href="{% static '/media/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    {% endblock %}
  

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Me Time!{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light navbar-dark">
     <div class="container">
         <a href="{% url 'home' %}" class="navbar-brand"><i class="fas fa-heartbeat hvr-pulse"> Mental health</i></a>
         
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navmenu">
             <ul class="navbar-nav ms-auto">
                 <li class="nav-item"><a href="{% url 'about'%}" class="nav-link">About</a></li>
                 {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                 <li class="nav-item"><a href="#dashboard" class="nav-link">Dashboard</a></li>
                 {% endif %}
                 <li class="nav-item"><a href="#" class="nav-link">My journal</a></li>
                 <li class="nav-item"><a href="#pledges" class="nav-link">Pledges</a></li>
                 <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>

                 {% else %}
                 <li class="nav-item"><a href="{% url 'resources' %}" class="nav-link">Resources</a></li>
                 <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
                 <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link">Register</a></li>
                 {% endif %}
             </ul>
         </div>
     </div>
 </nav>
 </header>
    <!-- end navigation -->


        <!-- messages container -->
        {% if messages %}
        <div class="message-container">
           {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- end of messages -->

   
        {% block content %}
        {% endblock %}


<!-- footer -->
<footer class="p-3 bg-dark text-white text-center fixed-bottom">
        <!-- social media icons -->
        <div class="text-center text-white p-3">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook footer-icons hvr-pulse"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram footer-icons hvr-pulse"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin footer-icons hvr-pulse"></i></a>
        </div> 
         <div class="container">
        <p class="lead">Copyright &copy; 2021 MeTime</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <!-- postload js -->
        {% block postloadjs %}
        {{ block.super }}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
        {% endblock %}

  </body>
</html>